.card {
	height: 10em;
	width: 5em;
	border: 1px solid;
	display: inline-block;
	cursor: move;
}

.rank_center {
	font-size: xx-large;
	margin-top: 1em;
	margin-left: 0.7em;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#playing_table {
	height: 21em;
	border: 1px dotted;
}
